<div>
  <div>
    {{#if cart.items.length}}
        <ul>
            {{#each (limit cart.items 4)}}
                <li>
                    <div>
                        {{#if type '==' 'GiftCertificate'}}
                            <img
                                alt="GiftCertificate"
                                title="GiftCertificate"
                                src="{{cdn ../theme_settings.default_image_gift_certificate}}"
                            >
                        {{else}}
                            {{> components/common/responsive-img
                                image=image
                                fallback_size=../theme_settings.productthumb_size
                                lazyload=../theme_settings.lazyload_mode
                                default_image=../theme_settings.default_image_product
                            }}
                        {{/if}}
                    </div>
                        <div>
                            <span>
                                {{brand.name}}
                            </span>

                            <h6>
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>

                            <span>
                                {{#if quantity '>' 1}}
                                    {{quantity}} &times;
                                {{/if}}
                                {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                    <span{{#if price_discounted}}{{/if}}>{{price.formatted}}</span>
                                    {{#if price_discounted}}
                                        {{price_discounted.formatted}}
                                    {{/if}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </span>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div>
                {{#if cart.show_primary_checkout_button}}
                    <div>
                        <a href="{{urls.checkout.single_address}}">
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}

                <div>
                    <a href="{{urls.cart}}">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>

                {{#if cart.show_multiple_address_shipping}}
                    <div>
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            {{#if cart.additional_checkout_buttons}}
                <div>
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <div role="alert" aria-live="polite" aria-atomic="false">
                {{lang 'cart.checkout.empty_cart'}}
            </div>
        {{/if}}
    </div>
</div>
