{{#if currency_selector.currencies.length '>' 1}}
<ul>
    <li>
        <a
           href="#"
           data-dropdown="currencySelection"
           aria-controls="currencySelection"
           aria-expanded="false"
        >
            {{lang 'common.currency' code=currency_selector.active_currency_code}}
            {{> components/common/icon icon="chevron-down"}}
        </a>
        <ul id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each currency_selector.currencies}}
            <li>
                <a href="{{{switch_url}}}"
                   data-currency-code="{{{code}}}"
                   {{#if cart_currency_switch_url.length '>' 0 }}
                   data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
                   {{/if}}
                   data-warning="{{lang 'common.currency_switch_promotion'}}"
                >
                {{#if is_active}}
                    <strong>{{name}}</strong>
                {{else}}
                    {{name}}
                {{/if}}
                </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{/if}}
