{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div data-banner-location="bottom">
            <div>
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer>
    <h2 class="screen-reader-only">{{lang 'footer.title'}}</h2>
    <section class="footer-content">
        <article data-section-type="footer-webPages">
            <h3>{{lang 'footer.navigate'}}</h3>
            <ul>
                {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                <li>
                    <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                </li>
            </ul>
        </article>

        <article data-section-type="footer-categories">
            <h3>{{lang 'footer.categories'}}</h3>
            <ul>
                {{#each categories}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </article>

        {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
        <article data-section-type="footer-brands">
            <h3>{{lang 'footer.brands'}}</h3>
            <ul>
                {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
            </ul>
        </article>
        {{/and}}

        {{#if settings.address}}
        <article data-section-type="storeInfo">
            <h3>{{lang 'footer.info'}}</h3>
            <address>{{nl2br settings.address}}</address>
            {{#if settings.phone_number}}
                <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
            {{/if}}
        </article>
        {{/if}}

        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article
                data-section-type="footer-webPages">
                    <h3>{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}

        <article data-section-type="newsletterSubscription">
            {{#if settings.show_newsletter_box}}
                {{> components/common/subscription-form}}
            {{/if}}
            {{> components/common/payment-icons}}
        </article>
    </section>
    {{#if settings.paypal_commerce_credit_message}}
    <div>
        <p>{{nl2br settings.paypal_commerce_credit_message}}</p>
    </div>
    {{/if}}
    {{#if theme_settings.show_powered_by}}
        <div>
            <p>{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
        </div>
    {{/if}}
    {{#if theme_settings.show_copyright_footer}}
        <div>
            <p>&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
        </div>
    {{/if}}
    {{{region name="ssl_site_seal--global"}}}
</footer>
