{{#if children}}
<a
   href="{{url}}"
   data-toggle-target="#navPages-{{id}}"
   data-toggle-class="visible"
   data-toggle-outside
>
    {{name}}
    {{> components/common/icon icon="chevron-down"}}
</a>
<div id="navPages-{{id}}" aria-hidden="true" tabindex="-1" class="hidden">
    <ul>
        <li>
            <a
               href="{{url}}"
               aria-label="{{lang 'category.view_all.name' category=name}}"
            >
                {{lang 'category.view_all.name' category=name}}
            </a>
        </li>
        {{#each children}}
            <li>
                {{#if children}}
                    <a
                       href="{{url}}"
                       aria-label="{{name}}"
                       data-toggle-target="#navPages-{{id}}"
                       data-toggle-class="visible"
                       data-toggle-outside
                    >
                        {{name}}
                        <span>
                            {{> components/common/icon icon="chevron-down"}}
                        </span>
                    </a>
                    <ul id="navPages-{{id}}" class="hidden">
                        {{#each children}}
                        <li>
                            <a
                               href="{{url}}"
                               aria-label="{{name}}"
                            >
                                {{name}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <a
                       href="{{url}}"
                       aria-label="{{name}}"
                    >
                        {{name}}
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
{{else}}
<a
   href="{{url}}"
   aria-label="{{name}}"
>
    {{name}}
</a>
{{/if}}
