<div id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul>
        <li>
            <a href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
        </li>
        {{#each children}}
            <li>
                {{#if children}}
                    <a href="{{url}}" data-collapsible="navPages-{{id}}">
                        {{name}} {{> components/common/icon icon="chevron-down"}}
                    </a>
                    {{> components/common/navigation-dropdown}}
                {{else}}
                    <a href="{{url}}">{{name}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
