<nav aria-label="pagination">
    <ul class="pagination">
        {{#if previous}}
            <li>
                <a href="{{previous}}" data-faceted-search-facet>
                    {{> components/common/icon icon="chevron-left"}}
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}

        {{#if this.links.length}}
            <li>{{lang 'common.paginator.page_of' current=this.current total=this.links.length}}</li>
        {{else}}
            <li>{{lang 'common.paginator.page_of' current=1 total=1}}</li>
        {{/if}}

        {{#if next}}
            <li>
                <a href="{{next}}" data-faceted-search-facet>
                    {{lang 'common.next'}}
                    {{> components/common/icon icon="chevron-right"}}
                </a>
            </li>
        {{/if}}
    </ul>
</nav>
