{{#with theme_settings}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa show_accept_amazonpay show_accept_googlepay show_accept_klarna}}
    <div>
        {{#if show_accept_amex}}
        <svg><use xlink:href="#icon-logo-american-express"></use></svg>
        {{/if}}
        {{#if show_accept_discover}}
        <svg><use xlink:href="#icon-logo-discover"></use></svg>
        {{/if}}
        {{#if show_accept_mastercard}}
        <svg><use xlink:href="#icon-logo-mastercard"></use></svg>
        {{/if}}
        {{#if show_accept_paypal}}
        <svg><use xlink:href="#icon-logo-paypal"></use></svg>
        {{/if}}
        {{#if show_accept_visa}}
        <svg><use xlink:href="#icon-logo-visa"></use></svg>
        {{/if}}
        {{#if show_accept_amazonpay}}
        <svg><use xlink:href="#icon-logo-amazonpay"></use></svg>
        {{/if}}
        {{#if show_accept_googlepay}}
        <svg><use xlink:href="#icon-logo-googlepay"></use></svg>
        {{/if}}
        {{#if show_accept_klarna}}
        <svg><use xlink:href="#icon-logo-klarna"></use></svg>
        {{/if}}
    </div>
    {{/or}}
{{/with}}
