<div>
    <ul>
        {{#if previous}}
            <li>
                <a href="{{previous}}" data-faceted-search-facet>
                    <i aria-hidden="true">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
                        </svg>
                    </i>
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}

        {{#if this.links.length}}
            <li>{{lang 'common.paginator.page_of' current=this.current total=this.links.length}}</li>
        {{else}}
            <li>{{lang 'common.paginator.page_of' current=1 total=1}}</li>
        {{/if}}

        {{#if next}}
            <li>
                <a href="{{next}}" data-faceted-search-facet>
                    {{lang 'common.next'}}
                    <i aria-hidden="true">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                        </svg>
                    </i>
                </a>
            </li>
        {{/if}}
    </ul>
</div>

