{{#unless customer.addresses}}
    {{> components/common/alert/alert-info (lang 'account.addresses.no_addresses')}}
{{/unless}}

<ul>
    {{#each customer.addresses}}
        <li>
            <div>
                <div>
                    <h5>{{first_name}} {{last_name}}</h5>
                    <ul>
                        <li>{{company}}</li>
                        <li>{{address1}}</li>
                        <li>{{address2}}</li>
                        <li>{{city}}{{#if state}}, {{state}}{{/if}} {{zip}}</li>
                        <li>{{country}}</li>
                    </ul>
                    {{#if phone}}
                        <dl>
                            <dt>{{lang 'account.addresses.phone' }}</dt>
                            <dd>{{phone}}</dd>
                        </dl>
                    {{/if}}
                    <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
                        <div>
                            <a href="{{edit_url}}">{{lang 'common.edit' }}</a>
                            <button type="submit">{{lang 'common.delete' }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    {{/each}}
    <li>
        <a href="{{urls.account.add_address}}">
            <span>
                <span>
                    <span>&plus;</span>
                    <h5>{{lang 'account.addresses.new_address' }}</h5>
                </span>
            </span>
        </a>
    </li>
</ul>
