<h3>{{lang 'account.messages.heading' }}</h3>

<ul>
    {{#each messages}}
    <li>
        <div>
                <div>
                    <span>{{date}}</span>
                </div>

                <h5>
                    {{subject}}
                </h5>
                <p>
                    {{#if is_reply}}
                        {{lang 'account.messages.merchant_said' store_name=../settings.store_name}}
                    {{else}}
                        {{lang 'account.messages.customer_said'}}
                    {{/if}}
                    {{message}}
                </p>
        </div>
    </li>
    {{/each}}
</ul>
