<h3>{{lang 'account.returns.heading' }}</h3>

<ul>
    {{#each returns}}
    <li>
        <div>
            <div>
                {{> components/common/responsive-img
                    image=product.image
                    fallback_size=../theme_settings.productthumb_size
                    lazyload=../theme_settings.lazyload_mode
                }}
            </div>
            <div>
                <div>
                    {{#if status '===' 'ReturnStatusPending'}}
                        <h6>{{lang 'account.returns.status.pending'}}</h6>
                    {{else if status '===' 'ReturnStatusReceived'}}
                        <h6>{{lang 'account.returns.status.received'}}</h6>
                    {{else if status '===' 'ReturnStatusAuthorized'}}
                        <h6>{{lang 'account.returns.status.authorized'}}</h6>
                    {{else if status '===' 'ReturnStatusRepaired'}}
                        <h6>{{lang 'account.returns.status.repaired'}}</h6>
                    {{else if status '===' 'ReturnStatusRefunded'}}
                        <h6>{{lang 'account.returns.status.refunded'}}</h6>
                    {{else if status '===' 'ReturnStatusRejected'}}
                        <h6>{{lang 'account.returns.status.rejected'}}</h6>
                    {{else if status '===' 'ReturnStatusCancelled'}}
                        <h6>{{lang 'account.returns.status.cancelled'}}</h6>
                    {{/if}}
                </div>

                <h5>{{lang 'account.returns.list.return_number' id=id}}</h5>
                <p>{{lang 'account.returns.list.product_details' num_products=quantity}} <a href="{{product.url}}">{{product.name}}</a></p>

                {{#if product.options}}
                    <dl>
                        {{#each product.options}}
                            <dt>{{name}}:</dt>
                            <dd>{{{sanitize value}}}</dd>
                        {{/each}}
                    </dl>
                {{/if}}

                <div>
                    <div>
                        <h6>{{lang 'account.returns.date_requested' }}</h6>
                        <span>{{date_requested}}</span>
                    </div>
                    <div>
                        <h6>{{lang 'account.returns.action' }}</h6>
                        <span>{{action}}</span>
                    </div>
                    <div>
                        <h6>{{lang 'account.returns.reason' }}</h6>
                        <span>{{reason}}</span>
                    </div>
                    {{#if comments}}
                    <div>
                        <h6>{{lang 'account.returns.comments' }}</h6>
                        <span>{{comments}}</span>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
