// Stencil Helper Tests
$test-color: stencilColor("test-color");
$test-font-weight: stencilFontWeight("test-font");
$test-font-family: stencilFontFamily("test-font");
$test-number: stencilNumber("test-number");


// Typography

$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base: 1rem;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;


// Resets

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}


// Utility classes

.injected-svg {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}


// Body

body {
    font-family: $system-font;
    font-size: $test-number;
}


// Header

header {
    display: flex;
}



// Footer

footer {
    display: flex;
}
