{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#if forms.address.address_id}}
        <h2>{{lang 'forms.address.edit.heading'}}</h2>
    {{else}}
        <h2>{{lang 'forms.address.add.heading'}}</h2>
    {{/if}}

    {{> components/account/navigation account_page='addresses'}}

    <div>

        {{#if forms.address.error}}
            {{> components/common/alert/alert-error forms.address.error}}
        {{/if}}

        <div>

            <form action="{{forms.address.action}}" data-address-form method="post">
                {{#if forms.address.address_id }}
                    <input type="hidden" name="shipid" value="{{forms.address.address_id}}">
                {{/if}}
                <fieldset>
                    <div>
                        {{#each forms.address.shipping_fields }}
                            {{{dynamicComponent 'components/common/forms'}}}
                        {{/each}}
                    </div>
                </fieldset>
                <div>
                    <input type="submit" value="{{lang 'forms.address.submit_value'}}">
                    <a href="{{urls.account.addresses}}">{{lang 'common.cancel'}}</a>
                    {{inject 'required' (lang 'common.required')}}
                    {{inject 'state_error' (lang 'errors.state_error')}}
                </div>
            </form>

        </div>
    </div>

{{/partial}}
{{> layout/base}}
