<div>
    <button type="button"

         data-collapsible="#facetedSearch-content--{{dashcase facet}}"
         aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
    >
        <span>
            {{title}}
        </span>

        <span>
            {{> components/common/icon icon="add"}}
            {{> components/common/icon icon="remove"}}
        </span>
    </button>
    {{#if selected}}
        <a href="{{remove_url}}" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
    {{/if}}
</div>
