<div id="facetedSearch">
    {{> components/faceted-search/selected-facets selected}}

    <a href="#facetedSearch-navList" role="button" data-collapsible>
        <span>
            {{#if facets.length '>' 2}}
                {{lang 'search.faceted.browse-by'}} {{join (pluck facets 'title') ', ' limit=2}} &amp; {{toLowerCase (lang 'search.faceted.more')}}
            {{else}}
                {{lang 'search.faceted.browse-by'}} {{join (pluck facets 'title') ', ' lastSeparator=' & '}}
            {{/if}}
        </span>

        <span>
            <span>
                {{lang 'search.faceted.hide-filters'}}

                {{> components/common/icon icon="keyboard-arrow-up"}}
            </span>

            <span>
                {{lang 'search.faceted.show-filters'}}

                {{> components/common/icon icon="keyboard-arrow-down"}}
            </span>
        </span>
    </a>

    {{#any facets visible=true}}
        <div id="facetedSearch-navList"

        >
            <div>
                {{#each facets}}
                    {{#if visible}}
                        {{{dynamicComponent 'components/faceted-search/facets'}}}
                    {{/if}}
                {{/each}}
            </div>

            <div style="display: none;"></div>
        </div>
    {{/any}}
</div>
