<div>

    <button>{{lang 'cart.coupons.add_coupon'}}</button>

    <button style="display: none;">{{lang 'cart.coupons.cancel'}}</button>
</div>

<div style="display: none;">
    <form method="post" action="{{urls.cart}}">
        <label for="couponcode">{{lang 'cart.coupons.coupon_code'}}</label>
        <input data-error="{{lang 'cart.coupons.empty_error'}}"  id="couponcode" type="text" name="couponcode" value="" placeholder="{{lang 'cart.coupons.coupon_code'}}">
        <input type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
