{{#if shipping_cost}}
    <div>
        <div>
            <a href="#">{{shipping_cost.formatted}}</a>
        </div>
    </div>
{{else}}
    <div>
        <button data-collapsible="add-shipping" aria-labelledby="estimator-add">
            <span>{{lang 'cart.shipping_estimator.add_info'}}</span>
            <span id="estimator-add">{{lang 'cart.shipping_estimator.add_info'}}</span>
            <span id="estimator-close">{{lang 'cart.shipping_estimator.cancel'}}</span>
        </button>
    </div>
{{/if}}

<div id="add-shipping">
    <form data-shipping-estimator>
        <dl>
            <dt>
                <label for="shipping-country">{{lang 'cart.shipping_estimator.select_a_country'}}</label>
            </dt>

            <dd>
                <select id="shipping-country" name="shipping-country" data-field-type="Country">
                    <option>{{lang 'cart.shipping_estimator.select_a_country'}}</option>
                    {{#each countries}}
                        <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                            {{name}}
                        </option>
                    {{/each}}
                </select>
            </dd>

            <dt>
                <label for="shipping-state">{{lang 'cart.shipping_estimator.select_a_state'}}</label>
            </dt>

            <dd>
                {{#if states.length}}
                    <select id="shipping-state" name="shipping-state" data-field-type="State">
                        <option>{{lang 'cart.shipping_estimator.select_a_state'}}</option>
                        {{#each states}}
                            <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                {{else}}
                    <input type="text" id="shipping-state" name="shipping-state" data-field-type="State" placeholder="{{lang 'cart.shipping_estimator.select_a_state'}}">
                {{/if}}
            </dd>

            <dt>
                <label for="shipping-city">{{lang 'cart.shipping_estimator.suburb_city'}}</label>
            </dt>
            <dd>
                <input type="text" id="shipping-city" name="shipping-city" value="{{selected_city}}" placeholder="{{lang 'cart.shipping_estimator.suburb_city'}}">
            </dd>

            <dt>
                <label for="shipping-zip">{{lang 'cart.shipping_estimator.zip_postal_code'}}</label>
            </dt>
            <dd>
                <input type="text" id="shipping-zip" name="shipping-zip" value="{{selected_zip}}" placeholder="{{lang 'cart.shipping_estimator.zip_postal_code'}}">
            </dd>
            <button>{{lang 'cart.shipping_estimator.estimate_shipping'}}</button>
        </dl>
    </form>
    <div role="alert" aria-atomic="true" aria-live="assertive"></div>
</div>
