{{#and theme_settings.shop_by_price_visibility shop_by_price}}
    <div>
        <h2 data-shop-by-price>{{lang 'category.shop_by_price'}}</h2>
        <ul>
            {{#each shop_by_price}}
            <li>
                <a 
                    {{#if selected }} 
                       
                        role="status"
                        aria-live="assertive"
                   {{else}}
                       
                   {{/if}}
                   href="{{url}}"
                >
                   {{lang 'category.filter_price_range'}} {{low.formatted}} - {{high.formatted}}
                </a>
                <span>{{lang 'category.filter_select_announcement'}}</span>
            </li>
            {{/each}}

            {{#any shop_by_price selected=true}}
                <li>
                    <a href="{{category_url}}">
                        {{lang 'category.reset'}}
                    </a>
                    <span>{{lang 'category.filter_reset_announcement'}}</span>
                </li>
            {{/any}}
        </ul>
    </div>
{{/and}}
