<nav>
    {{#if category.subcategories}}
        <div>
            <h2>{{category.name}}</h2>
            <ul>
                {{#each category.subcategories}}
                <li>
                    <a href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
