{{#partial "page"}}
<div>
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1>{{lang 'login.heading' }}</h1>
    {{#if forms.login.error}}
        {{> components/common/alert/alert-error forms.login.error}}
    {{/if}}
    {{#if forms.login.success}}
        {{> components/common/alert/alert-success forms.login.success}}
    {{/if}}
    <div>
        <form action="{{urls.auth.check_login}}" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            {{inject 'enterPass' (lang 'forms.validate.common.password')}}
            <div>
                <label for="login_email">{{lang 'login.field_email'}}</label>
                <input name="login_email" id="login_email" type="email">
            </div>
            <div>
                <label for="login_pass">{{lang 'login.field_password'}}</label>
                <input id="login_pass" type="password" name="login_pass" autocomplete="off">
            </div>
            <div>
                <input type="submit" value="{{lang 'login.submit_value' }}">
                <a href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
            </div>
        </form>
        {{#if settings.account_creation_enabled}}
            <div>
                <div>
                    <div>
                        <h2>{{lang 'login.new_customer.heading' }}</h2>
                    </div>
                    <div>
                        <p>{{lang 'login.new_customer.intro' }}</p>
                        <ul>
                            <li>{{lang 'login.new_customer.fact1' }}</li>
                            <li>{{lang 'login.new_customer.fact2' }}</li>
                            <li>{{lang 'login.new_customer.fact3' }}</li>
                            <li>{{lang 'login.new_customer.fact4' }}</li>
                            <li>{{lang 'login.new_customer.fact5' }}</li>
                        </ul>
                        <a href="{{urls.auth.create_account}}"><button>{{lang 'login.new_customer.create_account' }}</button></a>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
