<div>
    {{> components/faceted-search/faceted-search-navigation}}

    <div id="facetedSearch-content--{{dashcase facet}}">
        <form id="facet-range-form" method="get" data-faceted-search-range novalidate>
            <input type="hidden" name="search_query" value="{{search_query}}">
            {{#if this.sort}}
                <input type="hidden" name="sort" value="{{this.sort}}">
            {{/if}}
            <fieldset>
                <div>
                    <div>
                        <input
                            name="min_price"
                            placeholder="{{lang 'search.faceted.range.min-placeholder'}}"
                            min="0"
                           
                            required
                            type="number"
                            value="{{min_price}}"
                        />
                    </div>

                    <div>
                        <input
                            name="max_price"
                            placeholder="{{lang 'search.faceted.range.max-placeholder'}}"
                            min="0"
                           
                            required
                            type="number"
                            value="{{max_price}}"
                        />
                    </div>

                    <div>
                        <button type="submit">
                            {{lang 'search.faceted.range.update'}}
                        </button>
                    </div>
                </div>

                <div></div>
            </fieldset>
        </form>
    </div>
</div>
