{{#if items}}
<div>
    {{> components/faceted-search/faceted-search-navigation}}

    <div id="facetedSearch-content--{{dashcase facet}}">
        <ul>
            {{#each items}}
                <li>
                    <a href="{{url}}"
                      
                       rel="nofollow"
                       data-faceted-search-facet>
                        <span>
                            {{> components/products/ratings rating=title}}
                        </span>
                        {{lang 'search.faceted.rating.and-up'}}
                        {{#if ../show_product_counts}}
                            <span>({{count}})</span>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
