<article

    data-test="card-{{id}}"
    {{#if settings.data_tag_enabled}}
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}"
    {{/if}}>
    <figure>
        {{#if stock_level '===' 0}}
            {{> components/products/product-badge
                badge-type='sold-out'
                badge_view=theme_settings.product_sold_out_badges
                badge_label=theme_settings.pdp_sold_out_label
            }}
        {{else}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                {{> components/products/product-badge
                    badge-type='sale'
                    badge_view=theme_settings.product_sale_badges
                    badge_label=theme_settings.pdp_sale_badge_label
                }}
            {{/or}}
        {{/if}}
        <a href="{{url}}"

           aria-label="{{name}},{{> components/products/product-aria-label}}"
           {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
        >
            <div>
                {{> components/common/responsive-img
                    image=image

                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>

        <figcaption>
            <div>
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        {{#if settings.data_tag_enabled}}
                            <button data-event-type="product-click" data-product-id="{{id}}" data-toggle-target="#modal" data-toggle-class="visible" data-toggle-outside data-toggle-modal data-launch-quickview>{{lang 'products.quick_view'}}</button>
                        {{else}}
                            <button data-product-id="{{id}}" data-toggle-target="#modal" data-toggle-class="visible" data-toggle-outside data-toggle-modal data-launch-quickview>{{lang 'products.quick_view'}}</button>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                {{#if show_compare}}
                    <label for="compare-{{id}}">
                        {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" class="button" data-event-type="product-click" data-product-id="{{id}}" role="button">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" class="button" data-event-type="product-click" role="button">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" class="button" data-event-type="product-click" data-button-type="add-cart" role="button">{{lang 'products.add_to_cart'}}</a>
                            <span>{{lang 'category.add_cart_announcement'}}</span>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" class="button" data-event-type="product-click" data-product-id="{{id}}" role="button">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                {{/or}}
            </div>
        </figcaption>
    </figure>
    <div>
        {{#and rating show_rating}}
            <p data-test-info-type="productRating">
                <span>
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
            </p>
        {{/and}}
        {{#if brand.name}}
            <p data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h3>
            <a aria-label="{{name}},{{> components/products/product-aria-label}}"
               href="{{url}}"
               {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
        </h3>

        <div data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=price}}
            {{else}}
                {{> components/common/sign-in-for-pricing}}
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}
    </div>
</article>
