<ul data-tab>
    {{#if product.description}}
        <li>
            <a href="#tab-description">{{lang 'products.description'}}</a>
        </li>
    {{/if}}
    {{#if product.warranty}}
        <li>
            <a href="#tab-warranty">{{lang 'products.warranty'}}</a>
        </li>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <li>
            <a href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">{{sanitize theme_settings.pdp-custom-fields-tab-label}}</a>
        </li>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
        <li>
            <a href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}}
</ul>
<div>
    {{#if product.description}}
        <div id="tab-description">
            {{{product.description}}}
        </div>
    {{/if}}
    {{#if product.warranty}}
        <div id="tab-warranty">
            {{{product.warranty}}}
        </div>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
      <div id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
         <dl>
            {{#each product.custom_fields}}
               <dt>{{name}}:</dt>
               <dd>{{{value}}}</dd>
            {{/each}}
         </dl>
      </div>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
       <div id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
    {{/all}}
</div>
