{{#and price.retail_price_range.min.with_tax price.retail_price_range.max.with_tax}}
    <div>
        {{theme_settings.pdp-retail-price-label}}
        <span data-product-rrp-price-with-tax>{{price.retail_price_range.min.with_tax.formatted}} - {{price.retail_price_range.max.with_tax.formatted}}</span>
    </div>
{{else}}
    {{#if price.with_tax}}
        <div style="display: none;">
            {{theme_settings.pdp-retail-price-label}}
            <span data-product-rrp-with-tax>
                {{price.rrp_with_tax.formatted}}
            </span>
        </div>
    {{/if}}
{{/and}}
{{#and price.price_range.min.with_tax price.price_range.max.with_tax}}
    {{!-- Never display the "non-sales price" if there is a price range to be shown, but we do want the element on the page --}}
    <div style="display: none;">
        {{theme_settings.pdp-non-sale-price-label}}
        <span data-product-non-sale-price-with-tax>
            {{price.non_sale_price_with_tax.formatted}}
        </span>
    </div>
    <div {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
        <span>{{theme_settings.pdp-price-label}}</span>
        <span style="display: none;">{{theme_settings.pdp-sale-price-label}}</span>
        <span data-product-price-with-tax>{{price.price_range.min.with_tax.formatted}} - {{price.price_range.max.with_tax.formatted}}</span>
        {{#and price.price_range.min.without_tax price.price_range.max.without_tax}}
            <abbr title="{{lang 'products.including_tax'}}">{{lang 'products.price_with_tax' tax_label=price.price_range.min.tax_label}}</abbr>
        {{/and}}
        {{#if schema_org}}
            <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability"
                    content="http://schema.org/{{#if product.pre_order}}PreOrder{{else if product.out_of_stock}}OutOfStock{{else if product.can_purchase '===' false}}OutOfStock{{else}}InStock{{/if}}">
            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
            <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
            <meta itemprop="url" content="{{product.url}}">
            <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                <meta itemprop="minPrice" content="{{price_range.min.with_tax.value}}"  />
                <meta itemprop="price" content="{{price_range.min.with_tax.value}}">
                <meta itemprop="maxPrice" content="{{price_range.max.with_tax.value}}"  />
                <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                <meta itemprop="valueAddedTaxIncluded" content="true">
            </div>
        {{/if}}
    </div>
{{/and}}
{{#and price.retail_price_range.min.without_tax price.retail_price_range.max.without_tax}}
    <div>
        {{theme_settings.pdp-retail-price-label}}
        <span data-product-rrp-price-without-tax>{{price.retail_price_range.min.without_tax.formatted}} - {{price.retail_price_range.max.without_tax.formatted}}</span>
    </div>
{{else}}
    {{#if price.without_tax}}
        <div style="display: none;">
            {{theme_settings.pdp-retail-price-label}}
            <span data-product-rrp-price-without-tax>
                {{price.rrp_without_tax.formatted}}
            </span>
        </div>
    {{/if}}
{{/and}}
{{#and price.price_range.min.without_tax price.price_range.max.without_tax}}
    {{!-- Never display the "non-sales price" if there is a price range to be shown, but we do want the element on the page --}}
    <div style="display: none;">
        {{theme_settings.pdp-non-sale-price-label}}
        <span data-product-non-sale-price-without-tax>
            {{price.non_sale_price_without_tax.formatted}}
        </span>
    </div>
    <div {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
        <span>{{theme_settings.pdp-price-label}}</span>
        <span style="display: none;">{{theme_settings.pdp-sale-price-label}}</span>
        <span data-product-price-without-tax>{{price.price_range.min.without_tax.formatted}} - {{price.price_range.max.without_tax.formatted}}</span>
        {{#and price.price_range.min.with_tax price.price_range.max.with_tax}}
            <abbr title="{{lang 'products.excluding_tax'}}">{{lang 'products.price_without_tax' tax_label=price.price_range.min.tax_label}}</abbr>
        {{/and}}
        {{#if schema_org}}
            <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability"
                    content="http://schema.org/{{#if product.pre_order}}PreOrder{{else if product.out_of_stock}}OutOfStock{{else if product.can_purchase '===' false}}OutOfStock{{else}}InStock{{/if}}">
            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
            <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
            <meta itemprop="url" content="{{product.url}}">
            <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                <meta itemprop="minPrice" content="{{price.price_range.min.without_tax.value}}"  />
                <meta itemprop="price" content="{{price.price_range.min.without_tax.value}}">
                <meta itemprop="maxPrice" content="{{price.price_range.max.without_tax.value}}"  />
                <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                <meta itemprop="valueAddedTaxIncluded" content="false">
            </div>
        {{/if}}
    </div>
{{/and}}

{{!-- Never display the "saving price" element by default if there is a price range on the page to be shown --}}
{{#if page_type '===' 'product'}}
     <div style="display: none;">
            <span>{{lang 'products.you_save_opening_text'}}</span>
            <span data-product-price-saved>
                {{price.saved.formatted}}
            </span>
            <span>{{lang 'products.you_save_closing_bracket'}}</span>
     </div>
{{/if}}
