<section data-video-gallery>
    <h4>
        {{lang 'products.videos.header'}}
        <a href="#videoGallery-content" data-collapsible>
            <span>
                {{lang 'products.videos.hide'}}
            </span>
            <span>
                {{lang 'products.videos.show'}}
            </span>
        </a>
    </h4>

    <div id="videoGallery-content">
        <div>
            <iframe
                id="player"
               
                type="text/html"
                width="640"
                height="390"
                frameborder="0"
                webkitAllowFullScreen
                mozallowfullscreen
                allowFullScreen
                data-src="//www.youtube.com/embed/{{this.featured.id}}?rel=0"
                data-video-player>
            </iframe>
        </div>
        <ul>
        {{#each this.list}}
            <li>
                <a href="#" data-video-item data-video-id="{{id}}">
                    <div>
                        <img data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="//i.ytimg.com/vi/{{id}}/default.jpg"/>
                    </div>
                    <div>
                        <h5>{{title_long}}</h5>
                        <p>{{description_short}}</p>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>

</section>
