<section>
    <div>
        <h1 {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
        {{#if product.brand }}
        <h2{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
            <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
        </h2>
        {{/if}}
        {{#if product.call_for_price}}
            <p>
                <span>{{product.call_for_price}}</span>
            </p>
        {{/if}}
        {{#if product.price}}
            <div>
                {{> components/products/price price=product.price schema_org=schema}}
            </div>
        {{/if}}
        {{product.detail_messages}}
        {{#if settings.show_product_rating}}
            {{> components/amp/products/ratings rating=product.rating}}
        {{/if}}
        <dl>
            {{#if product.sku}}
                <dt>{{lang 'products.sku'}}</dt>
                <dd data-product-sku>{{product.sku}}</dd>
            {{/if}}
            {{#if product.upc}}
                <dt>{{lang 'products.upc'}}</dt>
                <dd data-product-upc>{{product.upc}}</dd>
            {{/if}}
            {{#if product.condition}}
                <dt>{{lang 'products.condition'}}</dt>
                <dd>{{product.condition}}</dd>
            {{/if}}
            {{#if product.availability}}
                <dt>{{lang 'products.availability'}}</dt>
                <dd>{{product.availability}}</dd>
            {{/if}}
            {{#if product.weight}}
                <dt>{{lang 'products.weight'}}</dt>
                <dd data-product-weight>{{product.weight}}</dd>
            {{/if}}
            {{#if product.min_purchase_quantity}}
                <dt>{{lang 'products.min_purchase_quantity'}}</dt>
                <dd>{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
            {{/if}}
            {{#if product.max_purchase_quantity}}
                <dt>{{lang 'products.max_purchase_quantity'}}</dt>
                <dd>{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
            {{/if}}
            {{#if product.gift_wrapping_available}}
                <dt>{{lang 'products.gift_wrapping'}}</dt>
                <dd>{{lang 'products.gift_wrapping_available'}}</dd>
            {{/if}}
            {{#if product.shipping}}
                {{#if product.shipping.calculated}}
                    <dt>{{lang 'products.shipping'}}</dt>
                    <dd>{{lang 'products.shipping_calculated'}}</dd>
                {{else}}
                    {{#if product.shipping.price.value '===' 0}}
                        <dt>{{lang 'products.shipping'}}</dt>
                        <dd>{{lang 'products.shipping_free'}}</dd>
                    {{else}}
                        <dt>{{lang 'products.shipping'}}</dt>
                        <dd>{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#if product.bulk_discount_rates.length}}
                <dt>{{lang 'products.bulk_pricing.title'}}</dt>
                <dd>
                    <a href="{{product.url}}"
                        {{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
                        {{lang 'products.bulk_pricing.view'}}
                    </a>
                </dd>

                <div id="bulkPricingModal" data-reveal>
                    <div>
                        <h2>{{lang 'products.bulk_pricing.modal_title'}}</h2>
                        {{> components/common/modal/modal-close-btn}}
                    </div>
                    <div>
                        <p>{{lang 'products.bulk_pricing.instructions'}}</p>
                        <ul>
                        {{#each product.bulk_discount_rates}}
                            <li>
                                {{lang 'products.bulk_pricing.range' min=min max=max}}
                                {{#if type '===' 'percent'}}
                                    {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                                {{else if type '===' 'fixed'}}
                                    {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                                {{else if type '===' 'price'}}
                                    {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                                {{/if}}
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
            {{/if}}

            {{#each product.custom_fields}}
                <dt>{{name}}:</dt>
                <dd>{{{value}}}</dd>
            {{/each}}
        </dl>
    </div>
</section>
