{{#if reviews.total}}
    <section expanded>
        <h4>
            {{lang 'products.reviews.header' total=reviews.total}}
        </h4>
        <div>
            <ul id="productReviews-list">
                {{#each reviews.list}}
                <li>
                    <article itemprop="review" itemscope itemtype="http://schema.org/Review">
                        <header>
                            <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                {{> components/amp/products/ratings rating=rating}}
                                <span itemprop="ratingValue">{{ rating }}</span>
                            </span>
                            <h5 itemprop="name">{{ title }}</h5>
                            {{#if name}}
                                <meta itemprop="author" content="{{name}}">
                                <p>
                                    {{lang 'products.reviews.post_on_by' date=date name=name }}
                                </p>
                            {{else}}
                                <p>
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                        </header>
                        <p itemprop="reviewBody">{{nl2br text}}</p>
                    </article>
                </li>
                {{/each}}
            </ul>
            {{> components/common/paginator pagination.reviews}}
        </div>
    </section>
{{/if}}
