<section expanded data-video-gallery>
    <h4>
        {{lang 'products.videos.header'}}
    </h4>
    <div>
        <amp-carousel width="640"
            height="490"
            layout="responsive"
            type="slides">
            {{#each this.list}}
                <div>
                    <div>
                        <amp-youtube
                            data-videoid="{{id}}"
                            layout="responsive"
                            width="640"
                            height="390">
                        </amp-youtube>
                    </div>
                    <div>
                        <h5>{{title_long}}</h5>
                        <p>{{description_short}}</p>
                    </div>
                </div>
            {{/each}}
        </amp-carousel>
    </div>
</section>
